:root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --color-bg: #f8fafc;
  }

  html {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
  }

  :global(h1) {
    font-size: var(--font-size-xl);
  }

  :global(h2) {
    font-size: var(--font-size-lg);
  }

  :global(code) {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  :global(p) {
    line-height: 1.6;
  }


  .logo img {
    padding: 30px 0;
    width: 100%;
  }

  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 60ch;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 20px;
  }


  /*Oli Code*/

  body {
            margin: 0% ;
        
         font-family: "Montserrat", sans-serif;
         background-color: #c8d8e7c2;
         font-optical-sizing: auto;
         font-weight: inherit;
         font-style: normal; 
        }

        .header-image {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: brightness(0.5);

        }

        .Profilbild {
            
            position: absolute;
            border-radius: 100%;
            width: 15%;
            height: auto;
            object-fit: 100%; 
            filter: brightness(0.9);
        }

        .container {
            position:fixed;
            overflow: visible;
            z-index: 1000;
            right: 32px;
            top: 10px; 
            font-size: 24px;
            display: flex;
        }

        .menu-link {
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin-left: 16px;

        }

        .menu-link:hover {
            text-decoration: underline;
        }

        .headline {
            position: absolute;
            right: 100px;
            top: 300px;
            color: white;
            font-size: 70px;
            font-weight: 600;
            width: 800px;
            line-height: 0.35;
            text-shadow: 10px 10px 5px rgba(0, 0, 0, 1.4) 
        }

        .slogan {
            position: absolute;
            top: 550px;
            right: 400px;
            color: white;
        }

        .description-section {
            position: absolute;
            height: 450px;
            top: 1150px;
            padding: 35px 100px;
            color: black;
            font-size: 30px;
            display: flex;
            gap: 200px;
        }

        .kontakt {
            position: absolute;
            height: 1050px;
            top: 2550px;
            padding: 35px 100px;
            color: black;
            font-size: 30px;
            display: flex;
            gap: 60px;
            z-index: 0;
        }

        .button {
            background-color: orange;
            padding: 4px;
            color: black;
            border-radius: 8px;
            box-shadow: 5px 5px 5px;
        }

        .half-width {
            width: 50%;
        }

        h2{
            position: absolute;
            text-align: center;
            font-size: 45px;
            top: 1000px;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }

        @media (max-width: 1000px ) {
            .half-width-konakt {
            flex-direction: column;
            align-items: center;
            height: unset;
        }

        .half-width-kontakt{
            width: unset;
        }
        }

        @media (max-width: 1000px) {
            .description-section {
                flex-direction: column;
                align-items: center;
                height: unset;
            }

            .half-width {
                width: unset;
            }
        }

        .scroll-container {

            background-color: #333;
            position: absolute; 
            width: 100%;
            height: auto;
            top: 1800px;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;

        }

        .scroll-container img {
            width: 400px;
            height: auto;
            margin: 20px;
        }

        h3 {
            font-size: 46px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        
            top: 1650px;
        }

        h4 {
            font-size: 46px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 2200px;
        }

        h5 {
            font-size: 46px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 600px;
        }

        h6 {

            font-size: 46px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 3600px;
        }

        .impressum {
            font-size: 16px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 800px;
        }

        .menu-background {
            position: fixed;
            top: 0px;
            width: 100%;
            background-color: rgba(51, 51, 51, 0.7);
            height: 50px;
            z-index: 0;

        }

        .geschichte {

            font-size: 16px; 
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 3800px; 
        }

        @media (max-width: 700px) {
            .half-width-kontakt {
                flex-direction: column;
                align-items: center;
                height: unset;
                gap: 1000px;
            }

            .half-width {
                width: unset;
            }
        }

        @media (max-width: 930px ) {

            .container {
                display: none;
            }
        }

        @media (max-width: 1400px) {

            .headline {
                width: calc(100vw * 0.4);
                flex-direction: column;
                align-self: auto;
                height: calc(56.25vww * 0.4);
            }
        }