---
import Layout from '../components/Layout.astro';
---

<Layout title="Architekturbüro Nawrat">
  <main>

      <img class="header-image" id="home" src="/img/deckblatt.jpg">
      <div class="container">
          <a class="menu-link" href="#home">Home</a>
          <a class="menu-link" href="#anfahrt">Anfahrt</a>
          <a class="menu-link" href="#referenzen">Referenzen</a>
          <a class="menu-link" href="#kontakt">Kontakt</a>
          <a class="menu-link" href="#impressum">Impressum</a>
          <a class="menu-link" href="#geschichte">Geschichte</a>
          <a class="menu-link button" href="">Anrufen</a>
      </div>


      <h1 class="headline" >Architektur<p>Nawrat & Sohn</h1></p>

      <div class="slogan">BERATUNG / PLANUNG / BAULEITUNG / 3D-VISUALISIERUNG </div>
  
  <h2 id="anfahrt" >Anfahrt</h2> 
  
  <div class="description-section"> 
          <div class="half-width"> So gelangen Sie zu uns. Mit der Straßenbahn bis zur Haltestelle Aegidientorplatz und von da aus nur 5min zu Fuß die Marienstrße runter. Vor dem Büro sind entsprechende Parkplätze vorhanden, welche Gebührenpflichtig sind. Das Büro befindet sich im 8. OG.
          </div> 
          <iframe class="half-width" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.068381116396!2d9.742817077243865!3d52.36918007202197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b074b4671fc403%3A0x200dfbe79f4c6fc9!2sMarienstra%C3%9Fe%209%2C%2030171%20Hannover!5e0!3m2!1sde!2sde!4v1717601429228!5m2!1sde!2sde" width= "600" height="400" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  
      <div class="scroll-container">
          <img src="/img/Nordansicht Blome-001.jpg">
          <img src="/img/Ostansicht-001.jpg">
          <img src="/img/Südansicht Blome-001.jpg">
          <img src="/img/Blome V2-GRUNDRISS EG 1-001.jpg">
          <img src="/img/Blome V2-GRUNDRISS DG 1-001.jpg">
      </div>
  
  <h3 id="referenzen" >Referenzen</h3>
  
  <div class="menu-background"></div> 
  
  <h4 id="kontakt" >Kontakt</h4>
  <div class="kontakt">
      <div class="half-width-kontakt"> Architektur Nawrat & Sohn
          <p>Marienstrasse 9-11</p>
          <p>30171 Hannover</p>
          <br>
           <p>Tel: +49 511 34088350</p>
           <p>E-Mail: info@architektur-nawrat.de</p></div>
           <div class="half-width-kontakt"> <img src="/img/Michael Nawrat Profile-pic.jpg" width= "600" height="400" style="border:0;">
      </div> 
  
   
  
  <h5 id="impressum" >Impressum</h5>
  
  <div class="impressum"> Copyright usw 
      <p>Designed by Oliver-Oskar Nawrat</p> </div> 
      </div>
      
  <h6 id="geschichte" >Geschichte</h6>
  
  <div class="geschichte"> So sah die Website seit 2010 aus. Nun wurde sie erneuert. 
      <p><a href="https://architektur-nawrat.de/" target="_blank">Hier kommen Sie zur alten Website</a> </p>
  
      
  
  </div> 

  </main>
</Layout>
